.search-bar {
  width: 100%;
  max-width: 700px;
  display: flex;
  justify-content: space-between;
  background-color: white;
  border: 2px solid #0063dc;
  border-radius: .25rem;
  margin-bottom: 50px;
}

.search-bar:focus-within {
  border: 2px solid #ff0084;
  transition: 0.25s;
}

.search-bar input {
  width: 600px;
  height: 1.5rem;
  outline: none;
  padding: .375rem .75rem;
  color: #495057;
  border: 1px solid #ced4da;
  border-radius: .25rem;
  transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.search-bar button {
  width: 60px;
  background: none;
  border: none;
  cursor: pointer;
}